body {
    display: flex;
    min-height: 100vh;
    flex-wrap: wrap;
    border: 1px solid;
    margin: 0;
}

nav {
    background-color: crimson;
    flex: 1;
    padding-left: 1rem;
    padding-top: 1rem;
    height: 40.25rem;
    width: 15rem;
}

header {
    background-color: gold;
    padding: 1rem;
    width: 65rem;
    height: 5rem;
}

main {
    display: flex;
}

main article {
    background-color: honeydew;
    flex: 3;
    padding-left: 1rem;
    padding-top: 1rem;
}

main aside {
    background-color: deepskyblue;
    flex: 1;
    padding-left: 1rem;
    padding-top: 1rem;
    width: 15rem;
    height: 26.25rem;

}

footer {
    background-color: gold;
    padding: 1rem;
    width: 65rem;
    height: 5rem;
}