* {
    box-sizing: border-box;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    margin: 0;
}

#main {
    display: flex;
    flex: 1;
}

#main>article {
    flex: 1;
    order: 1;
}

#main>nav,
#main>aside {
    flex: 0 0 20vw;
}

#main>nav {
    background: #03DAC5;
    ;
    order: 3;
}

#main>aside {
    background: pink;
    order: 2;
}

header,
footer {
    background: khaki;
    height: 20vh;
}

header,
footer,
article,
nav,
aside {
    padding: 1em;
}